<p><div class="text"><%= HackumassWeb::Application::HACKATHON_NAME %> will take place in the Engineering and Computer Science West building (ECSW) on the first floor</div></p>
<p><div class="text">If you’re driving to the event, you must park in only Gold or Green parking spots and then walk over to our venue. The required parking form is available to for participants to print and place in their vehicles below.</div></p>
<p><div class="text">If you have any questions, let us know at <%= HackumassWeb::Application::CONTACT_EMAIL %> </div></p>
<br>
<a href="https://www.hackutd.co/parking_form" target="_blank" class="btn btn-secondary">Parking Form</a>