<h2>Hey, <%= current_user.first_name.capitalize %></h2>
<p>
<div class="text-muted">We are devastated to announce that Hack to School has been cancelled due to issues caused by the COVID-19 outbreak. We are so sorry for any inconvenience that this may have caused, and we hope that you will consider joining us in the Fall when we unveil HackUTD VII. Please stay healthy and safe, the whole team hopes to see you back very soon.</div></p>
<div class="text-muted">Thanks again for applying to <%= HackumassWeb::Application::HACKATHON_NAME %>, check out our ssocial media to stay up to date with our events!</div>
<br>
<center>
    <a href="https://www.instagram.com/hackutd/" class="btn btn-secondary">Check out our Instagram</a>
</center>