<p><b>Hi there!</b> Thanks for being a mentor! In order to help attendees you will need to join our Slack</p>
<a href="<%= join_slack_path %>" target="_blank" class="btn btn-dark"><i class="fe fe-slack mr-2"></i>Join Slack</a>
